<footer class="footer mat-elevation-z4">
  <div class="footer__container">
    <div class="footer__left">
      <span>©2025 Redif</span>
      <a href="#" class="footer__link">Política de privacidad</a>
      <a href="#" class="footer__link">Condiciones del servicio</a>
    </div>
    <div class="footer__center">
      @if (currentTheme === 'redif-light-theme') {
        <button
          mat-icon-button
          class="footer__settings"
          aria-label="Cambiar a modo oscuro"
          (click)="toggleTheme()"
        >
          <mat-icon>dark_mode</mat-icon>
        </button>
      }
      
      @if (currentTheme === 'redif-dark-theme') {
        <button
          mat-icon-button
          class="footer__settings"
          aria-label="Cambiar a modo claro"
          (click)="toggleTheme()"
        >
          <mat-icon>light_mode</mat-icon>
        </button>
      }
    </div>
    <div class="footer__right">
      <button mat-stroked-button color="primary" class="footer__feedback">
        <mat-icon>feedback</mat-icon>
        Enviar comentarios sobre nuestro Centro de Ayuda
      </button>
    </div>
  </div>
</footer>