<div class="example-container">
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="'over'" class="custom-sidenav">
      <div class="sidenav-header">
        <span class="sidenav-title">Ayuda de Redif</span>
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="sidenav-content">
        <!-- Elementos principales del menú -->
        <div class="sidenav-main-menu">
          <mat-nav-list>
            <a mat-list-item href="https://redif.app/">
              <mat-icon matListItemIcon>launch</mat-icon>
              <span matListItemTitle>Ir a Redif</span>
            </a>
          </mat-nav-list>
        </div>

        <!-- Elementos del footer/bottom -->
        <div class="sidenav-footer-menu">
          <mat-divider></mat-divider>
          <mat-nav-list>
            <a mat-list-item href="https://demo.redif.ar/about/services">
              <span matListItemTitle>Acerca de nosotros</span>
            </a>
            <a mat-list-item href="https://demo.redif.ar/about/privacy">
              <span matListItemTitle>Política de privacidad</span>
            </a>
            <a mat-list-item href="https://demo.redif.ar/about/terms">
              <span matListItemTitle>Condiciones del servicio</span>
            </a>
            <a mat-list-item href="mailto:soporte@redif.ar">
              <span matListItemTitle>Enviar comentarios</span>
            </a>
            <div mat-list-item>
              <mat-slide-toggle
                class="toggle-buton"
                [checked]="themeService.isDarkMode()"
                (change)="themeService.setDarkMode($event.checked)"
              >
              </mat-slide-toggle>
              <span matListItemTitle>Modo oscuro</span>
            </div>
          </mat-nav-list>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="navbar-toolbar">
        <button matIconButton (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="navbar-title"
          ><a href="/home" class="footer__link">Ayuda de Redif</a></span
        >
        <span class="mat-spacer"></span>
        <span class="navbar-brand"><mat-icon svgIcon="redif"></mat-icon></span>
      </mat-toolbar>

      <main class="main-content">
        <router-outlet></router-outlet>
      </main>

      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
