.sidenav-container {
  height: auto;
}

.mat-toolbar {
  background-color: var(--mat-sys-primary-container);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; // Aumentado para asegurar que esté por encima
  height: 64px; // Altura fija
  gap: 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;

  & img {
    height: 55px;
    max-height: 100%;
    border-radius: 20px;
    margin-right: 5px;
  }
}

.active {
  background-color: var(--mat-sys-on-secondary) !important;
  color: var(--mat-sys-on-surface) !important;
}

.spacer {
  flex: 1 1 auto;
}

// Estilos para el sidenav
.sidenav {
  width: 250px;

  mat-nav-list {
    padding-top: 0;

    a[mat-list-item] {
      height: 48px;

      &.active {
        background-color: var(--mat-sys-primary-container);
        color: var(--mat-sys-on-primary-container);
      }
    }
  }
}

@media (max-width: 900px) {
  .navbar-brand {
    display: none;
  }
}
