.sidenav-container {
  height: auto; // Cambiado de 100vh para evitar conflictos
}

.mat-toolbar {
  background-color: var(--mat-sys-primary-container);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; // Aumentado para asegurar que esté por encima
  height: 64px; // Altura fija
}

.navbar-brand {
  display: flex;
  align-items: center;

  & img {
    height: 55px;
    max-height: 100%;
    border-radius: 20px;
    margin-right: 5px;
  }
}

.spacer {
  flex: 1 1 auto;
}

.hide-mobile {
  display: none;
}

.hide-desktop {
  display: inline-flex;
}

.active {
  background-color: var(--mat-sys-on-secondary) !important;
  color: var(--mat-sys-on-surface) !important;
}

// Estilos para el sidenav
.sidenav {
  width: 250px;
  
  mat-nav-list {
    padding-top: 0;
    
    a[mat-list-item] {
      height: 48px;
      
      &.active {
        background-color: var(--mat-sys-primary-container);
        color: var(--mat-sys-on-primary-container);
      }
    }
  }
}

@media (min-width: 768px) {
  .hide-mobile {
    display: inline-flex;
  }
  .hide-desktop {
    display: none;
  }
  .sidenav {
    display: none;
  }
}