<form [formGroup]="formularioBusqueda" (ngSubmit)="send()">
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Buscar</mat-label>
    <input
      matInput
      placeholder="Describe tu problema"
      name="busqueda"
      formControlName="busqueda"
    />
    @if (mobileOverlay) {
    <button matPrefix matIconButton aria-label="Cerrar" type="button" (click)="onClose()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    } @else {
    <button matPrefix matIconButton aria-label="Buscar" type="submit">
      <mat-icon>search</mat-icon>
    </button>
    }
    @if (formularioBusqueda.value.busqueda) {
    <button type="reset" matSuffix matIconButton aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>
</form>
