.container {
  max-width: 720px;
  margin: 1rem auto;
  padding: 1rem 3rem;
  min-height: calc(100vh - 140px);
  border: 1.5px solid
    var(--mat-card-outlined-outline-color, var(--mat-sys-outline-variant));
  border-radius: 10px;
  box-shadow: none;

  mat-card {
    background-color: var(--mat-sys-background);
    border-radius: 0 !important;
    box-shadow: none !important;
    border: none !important;
  }
}

.header-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.loading-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.empty-state-content {
  text-align: center;
  padding: 40px;
}

.post-title {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 350;
}

/* Lista de artículos relacionados */

.related-title {
  margin-bottom: 0.5rem;
}

a[mat-list-item].related-item {
  align-items: flex-start; /* por si el título ocupa varias líneas */
  gap: 8px; /* pequeño espacio entre icono y texto */
  cursor: pointer !important; /* fuerza el pointer */
}

a[mat-list-item] [matListItemIcon] {
  color: var(--mat-sys-primary);
}

a[mat-list-item] .related-item-title {
  min-width: 0; /* importante para permitir el wrap dentro de flex */
  white-space: normal; /* permite salto de línea */
  word-break: break-word; /* corta palabras muy largas si es necesario */
  line-height: 1.35;
}

a[mat-list-item].related-item:hover .related-item-title {
  text-decoration: underline;
}

mat-list a[mat-list-item].related-item + a[mat-list-item].related-item {
  border-top: 1px solid color-mix(in oklab, currentColor 15%, transparent);
}

.feedback-content {
  display: flex;
  gap: 18px;

  .feedback-text {
    font-weight: 500;
  }
}

.feedback-buttons {
  display: flex;
  gap: 8px;
  margin: 6px 0;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
    .mat-headline-large {
      font-size: 1.75rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0.5rem;
    .mat-headline-large {
      font-size: 1.75rem;
    }
    .feedback-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
  }
}

@media (max-width: 360px) {
  .container {
    .mat-headline-large {
      font-size: 1.5rem;
      margin: 1rem 0;
    }
  }

  .related-item-title {
    font-size: 0.95rem;
  }

  a[mat-list-item].related-item {
    gap: 0;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0;
  }
  .related-item-title {
    font-size: 0.95rem;
  }
}
