@use '../../../../styles/mixins' as mixins;

.page-header {
  @include mixins.page-header;

  &--compact {
    padding-top: 1rem;
    margin-bottom: 0;
  }
}

.mat-headline-large{
  margin: 0;
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 500;
  color: var(--text-primary);
}
