.category-section {
  max-width: 720px;
  text-align: center;
  margin: 0 auto;

  .category-buttons {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    gap: 15px;

    .role-button {
      width: 200px;
      height: 70px;
    }
  }
}

