<div style="padding: 1rem 1rem 0 1rem">
  <span class="mat-headline-small"
    >¿Qué se ejecuta en el servidor y qué en el cliente?</span
  >

  <div class="row">
    <div class="col">
      <h2 class="mat-title-large">Esta parte utiliza SSR</h2>
      <p class="mat-body-medium">
        Este contenido se renderiza en el servidor y aparece de inmediato.
      </p>
      <div style="display: flex">
        <div>
          <h3>Imágenes</h3>
          <div
            style="
              display: flex;
              flex-wrap: wrap;
              gap: 1rem;
              margin-right: 2rem;
            "
          >
            <img
              *ngFor="let img of images"
              [src]="img"
              width="300"
              height="200"
              alt="Imagen aleatoria"
            />
          </div>
        </div>
        <div>
          <h3>Lista de Items</h3>
          <div style="display: flex; flex-wrap: wrap; gap: 1rem">
            <p *ngFor="let item of items">{{ item.name }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <h2 class="mat-title-large">Esta parte NO utiliza SSR</h2>
      <ng-container *ngIf="isBrowser">
        <p class="mat-body-medium">
          Este contenido solo aparece cuando la app ya está en el navegador
          (simula una SPA sin SSR).
        </p>
        <div style="display: flex">
          <div>
            <h3>Imágenes</h3>
            <div
              style="
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                margin-right: 2rem;
              "
            >
              <img
                *ngFor="let img of images"
                [src]="img"
                width="300"
                height="200"
                alt="Imagen aleatoria"
              />
            </div>
          </div>
          <div>
            <h3>Lista de Items</h3>
            <div style="display: flex; flex-wrap: wrap; gap: 1rem">
              <p *ngFor="let item of items">{{ item.name }}</p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!isBrowser">
        <p style="color: gray">(Cargando...)</p>
      </ng-container>
    </div>
  </div>
</div>
