@use "@angular/material" as mat;
@use "./app/styles/theme-colors" as redif-theme-colors;
@use './app/styles/typography';

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: redif-theme-colors.$primary-palette,
        tertiary: redif-theme-colors.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-background);
  overflow-y: auto;

  &.light-theme {
    color-scheme: light;
  }
  &.dark-theme {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
}

/* Removemos el posicionamiento fijo global que estaba causando el problema */