<mat-card class="support-option-card" appearance="outlined">
  <mat-card-header class="support-box-header">
    <mat-card-title>¿Necesitás más ayuda?</mat-card-title>
    <mat-card-subtitle class="support-box-subtitle">Prueba estos próximos pasos:</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="support-box-content">
    <app-support-box-button
      ctaHref="https://wa.me/+5491126640616"
      ctaTitle="Chatear por WhatsApp"
      ctaSubtitle="Días hábiles, de 9:00 a 15:00 hs."
      ctaUrl="url('https://cdn-icons-png.freepik.com/512/2504/2504957.png')"
    />
    <app-support-box-button
      ctaHref="mailto:soporte@redif.ar"
      ctaTitle="Consultar por Email"
      ctaSubtitle="Disponible los 365 días del año."
      ctaUrl="url('https://cdn-icons-png.flaticon.com/512/732/732200.png')"
    />
  </mat-card-content>
</mat-card>
