.example-card {
  max-width: 720px;
  margin: 32px auto;
  padding: 16px 0;
}

.support-box-content{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
    .support-box-content {
        flex-direction: column;
    }

  .example-card {
    padding: 8px 0;
  }
}
