<mat-card class="example-card" appearance="outlined">
  <mat-card-header style="justify-content: center">
    <mat-card-title>¿Necesitás más ayuda?</mat-card-title>
    <mat-card-subtitle
      style="
        font-size: 0.875rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.25rem;
      "
      >Prueba estos próximos pasos:</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content class="support-box-content">
    <app-support-box-button
      ctaHref="https://wa.me/+5491126640616"
      ctaTitle="Chatear por WhatsApp"
      ctaSubtitle="Respuesta rápida. Días hábiles, de 9:00 a 15:00 hs."
      ctaUrl="url('https://cdn-icons-png.freepik.com/512/2504/2504957.png')"
    />
    <app-support-box-button
      ctaHref="mailto:soporte@redif.ar"
      ctaTitle="Enviar consulta por Email"
      ctaSubtitle="Respondemos dentro de 1 día hábil, de 9:00 a 15:00 hs."
      ctaUrl="url('https://cdn-icons-png.flaticon.com/512/732/732200.png')"
    />
  </mat-card-content>
</mat-card>
