<mat-card class="support-card">
  <a mat-card [href]="ctaHref" class="card-link">
    <mat-card-header class="support-card-header-content">
      <div mat-card-avatar [style.--imgUrl]="ctaUrl" class="support-card-avatar"></div>
      <mat-card-title class="support-card-title">{{ ctaTitle || 'Contactar a un asesor de Redif' }}</mat-card-title>
      <mat-card-subtitle class="support-card-subtitle">{{ ctaSubtitle || 'Obten respuesta de nuestro equipo de soporte' }}</mat-card-subtitle>
    </mat-card-header></a
  >
</mat-card>
